body {
	background: cornsilk;
}
.day{
	position: relative;
	float:left;
	width: 134px;
	float:left;
	text-align: center;
	height: 80px;
	padding-top: 10px;
	font-size:15px;
}
.week{
	display: block;
	clear: both;

}
h2{
	font-size: 29px;
}
.measurements .btn {
	margin-right: 20px;
}
.weeks{
	position: relative;
	display:block;
}
.input-group{
	margin-bottom: 5px;
}
.barely{
	color:orange;
	font-size: 18px;
}
.nailed{
	color:green;
	font-size: 18px;
}
.day span{
	height: 39px;
    position: relative;
    display: block;
}
.week_nr{
	position: relative;
	width: 200px;
	float:left;
	background-color: #fff;
	color:#000;
	text-align: center;
	height: 80px;
	padding-top: 30px;
	font-size:24px;
}
.week_nr.last{
	width: 134px;
	background-color: #000;
	color:#fff;
	padding-top: 10px;
}
.checkbox-inline{
	font-size: 12px;
}
.measurements{
	position: absolute;
	width:40%;
	height: 0px;
	overflow: hidden;
	background-color: #fff;
	z-index: 9999;
	right: 0px;
	top:0px;
	display:block;
	box-sizing: border-box;
}
.measurements.active{
	height: auto;
	padding: 50px;
	padding-top: 30px;
}
.checkbox-inline, .radio-inline{
	padding-left: 0px;
}
.week_days{
	position: relative;
	width: auto;
	float:left;
	background-color: #000;
	color:#fff;
	text-align: center;
	height: 80px;
	padding-top: 0px;
	font-size:24px;
}
.upper_calandar .week_nr {
	height: 50px;
	background-color: transparent;
}
.upper_calandar .week_days {
	height: 50px;
	border-bottom: 2px solid #fff;
}